/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Masquer la barre de défilement pour tous les éléments */
body, html {
    overflow: -moz-scrollbars-none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    background-color: #0e0e0e;
}

body::-webkit-scrollbar { 
    display: none;  /* Chrome, Safari et Opera */
}

body {
    font-family: "Raleway", Arial, sans-serif;
    color: ghostwhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(bg/par4.jpg);
    background-attachment: fixed;
    background-position: 50%;
    background-size: 2048px;
}

/*========== Neige ==================*/

.snowflake {
    position: absolute;
    top: -10px; /* Commence juste au-dessus de l'écran */
    color: white;
    font-size: 10px; /* Taille par défaut des flocons */
    user-select: none;
    animation-name: sway, fall;
    animation-timing-function: ease-in-out, linear;
    animation-iteration-count: infinite, infinite;
    z-index: 1;

    will-change: transform;
    transform: translateZ(0);
}

/* Animation de chute */
@keyframes fall {
    to {
        transform: translateY(var(--page-height));
    }
}

/* Animation d'oscillation horizontale */
@keyframes sway {
    0%, 100% {
        transform: translateX(-30px);
    }
    50% {
        transform: translateX(30px);
    }
}

/*===================================*/

header {
    background-color: #0e0e0e;
    padding: 10px 0;
    position: fixed; /* Navbar fixe */
    width: 100%;
    z-index: 1000; /* Assurer que la navbar est au-dessus des autres éléments */
    box-shadow: #0e0e0e 5px 5px 5px;
}

footer{
    width: 100%;
}

.foot{
    background-color: #0e0e0e;
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    padding: 10px 50px 10px 50px;
    justify-content: space-between;
    color: rgb(78, 78, 78);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.title-reset{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.title-reset h1 {
    font-size: 24px;
}

.title-reset img {
    height: 38px;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: ghostwhite;
    text-decoration: none;
    cursor: pointer;
}

.mobile-nav {
    user-select: none;
    display: none;
}

main {
    padding: 80px 20px 20px; /* Ajout de padding supérieur pour compenser la navbar fixe */
    background-color: rgb(17, 17, 17, 0.8);
    width: 100%;
}

main * {
    z-index: 2;
}

section {
    margin-top: 80px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/*======================= Accueil =======================*/
#home {
    text-align: center;
}

#home h1 {
    font-size: 48px;
}

#home p {
    font-size: 20px;
    margin: 20px 0;
}

#reset-button{
    cursor: pointer;
}

/*======================= À propos de moi =======================*/

#about {
    text-align: center;
    padding: 0;
}

.about{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.moitier{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
}

.instaZone{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*======================= Projets =======================*/

.project-container {
    display: grid; /* Appliquer le style de grille ici */
    grid-template-columns: repeat(3, 1fr); /* Trois projets par ligne */
    overflow: hidden; /* Empêche les débordements */
    max-height: 0; /* Par défaut, cache les projets */
    transition: max-height 0.5s ease; /* Transition pour la hauteur */
    gap: 50px;
    margin-top: 5%;
    padding: 0 10% 0 10%;
}

.project-card {
    border-radius: 10px;
    padding: 20px;
    display: flex; /* Utiliser flex pour centrer le contenu */
    flex-direction: column; /* Aligner le contenu verticalement */
    justify-content: space-around; /* Distribuer l'espace entre les éléments */
    min-height: 200px;
    background-size: cover;    /* L'image couvre toute la surface du conteneur */
    background-position: center; /* L'image est centrée dans le conteneur */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    text-shadow: black 0 0 10px, 1px 1px 2px black;
    box-shadow: inset 3px 3px 5px rgb(0, 0, 0), inset -3px -3px 5px rgb(0, 0, 0);
    user-select: none;
    transition: all 0.5s;

    /*debug*/
    border: ghostwhite 1px solid;
}

.project-card:hover {
    text-shadow: none;
    cursor: pointer;
    box-shadow: inset 3px 3px 50px rgb(0, 0, 0), inset -3px -3px 50px rgb(0, 0, 0);
    text-shadow: black 0 0 25px, 1px 1px 2px black;
    transition: all 0.5s;
}

.project-card:hover .voirPlus{
    padding-left: 15%;
}

.voirPlus {
    transition: padding-left 0.5s;
    text-align: left;
    margin-bottom: 0;
}

.project-card p {
    font-size: 14px;
}

.detail {
    backdrop-filter: blur(10px) opacity(0);
    position: fixed;
    top: -100vh; /* Cacher le menu en haut de l'écran */
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: none;
    opacity: 100%;
    color: ghostwhite;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top 0.5s ease, backdrop-filter 0s; /* Animation pour le slide */
    z-index: 1050; /* Au-dessus du contenu */
    padding-bottom: 20px;
}

.contenu{
    padding: 50px;
    width: 50%;
    background-color: #1e1e1e;
    border: ghostwhite 1px solid;
    border-radius: 20px;
}

.contenu div{
    margin-top: 10px;
    margin-bottom: 10px;
}

.detail.active {
    top: 0;
    backdrop-filter: blur(10px) opacity(1);
    transition: top 0.5s ease, backdrop-filter 1s;
}

.close-detail {
    user-select: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.5s;
}

.close-detail:hover{
    transform: rotate(90deg);
}

.displayDetail{
    display: flex;
    justify-content: space-between;
}

.techno{
    display: flex;
    justify-content: space-around;
}

.pic{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic i{
    font-size: 30px;
}

/*=======================Projets individuels=======================*/

.p1{
    border: aqua 2px solid;
    background-image: url("bg/p1.jpg");
}

.p2{
    border: #8e4235 2px solid;
    background-image: url("bg/p2.jpg");
}

.p3{
    border: rgb(0, 160, 0) 2px solid;
    background-image: url("bg/p3.jpg");
}

.p5{
    border: #d8c9aa 2px solid;
    background-image: url("bg/p5.jpg");
}


/*======================= Cacher les projets par défaut =======================*/

.hidden {
    opacity: 0; /* Ajouté : Transparence */
    max-height: 0; /* Ajouté : Hauteur zéro */
    overflow: hidden; /* Ajouté : Masquer le contenu */
    transition: opacity 0.5s ease, transform 0.5s ease, height 0.5s ease; /* Transition ajoutée */
    pointer-events: none;
}

.show-more button.hidden {
    display: none;
}

/*======================= Show Buttons =======================*/

.show-more {
    text-align: center;
    margin: 20px 0;
}

.show-more button {
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s;
    /*debug
    border: ghostwhite 1px solid;
    */
}

.show-more button:hover{
    transition: transform 0.5s;
    transform: scale(1.5);
}

/*======================= Contact =======================*/

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.contact-form-container {
    width: 90%;
    max-width: 800px;
    padding: 20px;
    border-radius: 8px;
  }
  
  form h2 {
    text-align: center;
    color: ghostwhite;
  }
  
  .input-container {
    position: relative;
    margin: 20px 0;
  }
  
  .input-container input,
  .input-container textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: rgb(17, 17, 17, 0.9);
    color: ghostwhite;
  }
  
  .input-container textarea {
    resize: none;
    height: 80px;
  }
  
  .input-container input::placeholder,
  .input-container textarea::placeholder {
    color: rgba(248, 248, 255, 0.5);
  }
  
  .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: ghostwhite;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  
  .input-container input:focus + .underline,
  .input-container textarea:focus + .underline {
    background-color: ghostwhite;
    transform: scaleX(1);
  }
  
  .form-button {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #333;
    color: ghostwhite;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-button:hover {
    background-color: #555;
  }

/*============== Responsiveness ===================*/

.cardiv{
    padding: 0 10% 0 0;
}

@media (max-width: 1200px) {
    body{
        background-position: fixed;
    }

    .navbar ul {
        display: none;
    }

    .mobile-nav {
        display: block;
        cursor: pointer;
        align-items: center;
        padding: 10px;
        background-color: transparent;
        z-index:1000;
        transition: transform 0.5s;
    }

    .rotate{
        transition: transform 0.5s;
        transform: rotate(-90deg);
    }

    .mobile-nav p{
        font-weight: bold;
    }

    .menu-slide.active ul {
        display: flex;
        flex-direction: column;
        position: absolute;
    }

    .project-container {
        grid-template-columns: 1fr; /* Un projet par ligne sur mobile */
    }

    .about{
        flex-direction: column;
    }
    
    .moitier{
        width: 100%;
    }

    .container{
        margin: 0px;
    }

    .contenu{
        width: 95%;
    }

    .contenu p{
        font-size: small;
    }

    main {
        width: 100%;
    }

    #about {
        padding: 0;
    }

    .cardiv{
        padding: 0;
    }
}

@media (max-width: 700px) {
    .disp{
        display: none;
    }

    .foot{
        justify-content: center;
    }
}

/* Menu Slide */

.menu-slide {
    position: fixed;
    top: -100vh; /* Cacher le menu en haut de l'écran */
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #1e1e1e;
    opacity: 100%;
    color: ghostwhite;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top 0.5s ease; /* Animation pour le slide */
    z-index: 999; /* Au-dessus du contenu */
}

.menu-slide ul {
    list-style: none;
    text-align: center;
}

.menu-slide ul li {
    margin: 20px 0;
}

.menu-slide ul li a {
    text-decoration: none;
    font-size: 24px;
    color: white;
}

.scrollBtn p{
    user-select: none;
    padding: 10px;
    color: ghostwhite;
    box-shadow: none;
    transition: all 0.2s;
    box-shadow: 1px 1px 5px black, -1px -1px 5px rgb(75, 75, 75);
    border-radius: 10%;
}

.scrollBtn:hover p{
    color: aquamarine;
    transition: all 0.5s;
}

.scrollBtn:active p{
    transition: all 0.2s;
    box-shadow: 0 0 0px black, 0 0 0px rgb(75, 75, 75) ,inset 1px 1px 5px rgb(0, 0, 0), inset -1px -1px 5px rgb(75,75,75);
}

/* Animation de slide */
.menu-slide.active {
    top: 0; /* Fait glisser le menu vers le bas */
}

.no-scroll {
    overflow: hidden;
}

/*=================== Style pour le preloader ===================================*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transition: all 0.5;
    background-color: black;
    opacity: 1;
    transition: opacity 0.5s ease; /* Transition pour rendre la disparition douce */
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgba(248, 248, 255, 0.4);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgba(248, 248, 255, 0.7);
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: ghostwhite;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*========================Carousel========================================*/

.visuallyhidden {
    position: absolute;
    z-index: -1;
    right: 0;
    opacity: 0;
    
  }
  
  .container {
    overflow: hidden;
    padding: 20px;
    margin-top: 2em;
  }
  
  .card-carousel {
    --card-width: 70%;
    --card-max-width: 300px;
    --card-height: 430px;
    --carousel-min-width: 600px;
    z-index: 50;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter .3s ease;
  }
  
  @media (max-width: 660px) {
    .card-carousel {
      margin-left: calc((100vw - var(--carousel-min-width) - 85px) / 2);
    }
  }
  
  .card-carousel.smooth-return {
    transition: all .2s ease;
  }
  
  .card-carousel .card {
    background: ghostwhite;
    width: var(--card-width);
    max-width: var(--card-max-width);
    text-align: center;
    padding: 1em;
    min-width: 250px;
    height: var(--card-height);
    position: absolute;
    margin: 0 auto;
    transition: inherit;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    border-radius: 1em;
    filter: brightness(.9);
    background-size: cover;    /* L'image couvre toute la surface du conteneur */
    background-position: center; /* L'image est centrée dans le conteneur */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
  }
  
  .card.highlight {
    filter: brightness(1)
  }

  #carousel {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* Pour le défilement fluide sur iOS */
}

/*Bouton Insta*/

.instagram-button i {
    color : ghostwhite;
    transition: all 0.3s ease;
    border-radius: 10px;
    font-size: xx-large;
}

.instagram-button:hover i {
    background : linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    transform: scale(1.1);
    transition: all 0.3s ease;
}

    /*====================== Splash Screen ===========================*/*

#splash-screen {
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('bg/splash.gif') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease;
}

.splash-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}

#enter-button {
    padding: 15px 30px;
    font-size: 1.2em;
    color: ghostwhite;
    background-color: rgb(0,0,0,0.3);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    border: 1px ghostwhite solid;
    transition: all 0.3s;
    user-select: none;
}

#enter-button:hover {
    color: black;
    border: #000000 1px solid;
    background-color: rgb(248, 248, 255, 0.6);
}

#main-content{
    opacity: 0;
    transition: opacity 1s ease;
}
  
  /*=====================Liste dessins modifiables=====================*/
  
  .card:nth-of-type(1){
    background-image: url("dessins/1.jpg");
  }

  .card:nth-of-type(2){
    background-image: url("dessins/2.jpg");
  }

  .card:nth-of-type(3){
    background-image: url("dessins/3.jpg");
  }

  .card:nth-of-type(4){
    background-image: url("dessins/4.jpg");
  }

  .card:nth-of-type(5){
    background-image: url("dessins/5.jpg");
  }

  .card:nth-of-type(6){
    background-image: url("dessins/6.jpg");
  }

  .card:nth-of-type(7){
    background-image: url("dessins/7.jpg");
  }

  .card:nth-of-type(8){
    background-image: url("dessins/8.jpg");
  }

  .card:nth-of-type(9){
    background-image: url("dessins/9.jpg");
  }

  .card:nth-of-type(10){
    background-image: url("dessins/10.jpg");
  }

  .card:nth-of-type(11){
    background-image: url("dessins/11.jpg");
  }